.menu {
    display: flex;
    /* Torna o elemento um container flex, atuando sobre os filhos */
    justify-content: space-evenly;
    /* Eixo principal flex-direction: :horizontal por padrão */
    align-items: center;
    /* Eixo secundário, depende do eixo principal, como o flex-direction está horizontal, alinha na vertical */
    flex-wrap: wrap;
    /* Quebra linha automáticamente */
    column-gap: 33px;
}

@media (min-width: 720px) {
    .menu {
        column-gap: 75px;
    }
}

@media (min-width: 1440px) {
    .menu {
        column-gap: 104px;
        flex-wrap: nowrap;
    }

    .menu__item:nth-child(1) {
        order: 1;
    }

    .menu__item:nth-child(2) {
        order: 3;
    }

    .menu__item:nth-child(3) {
        order: 4;
    }

    .menu__item:nth-child(4) {
        order: 5;
    }

    .menu__item:nth-child(5) {
        order: 2;
    }
}